<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apkkelima"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logoapk"
        android:label="Kehadiran Apps"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoapk"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/Theme.Apkkelima"
        android:usesCleartextTraffic="true">
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".AbsenDatang" />
        <activity android:name=".TaskClose" />
        <activity android:name=".TaskOpen" />
        <activity android:name=".SummaryClaim" />
        <activity android:name=".ClaimCrud" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".ClaimActivity" />
        <activity android:name=".AbsenPulang" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.L                 AUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>